# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2 # Versão mais atualizada do código
      
      # Instalando o node, para ser possível a execução do script
      - name: Setup Node.js environment 
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 12.x
